html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: -.01em;
  color: #fff;
}

header.banner-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the content horizontally */
  background-color: #000;
  color: #fff;
  border-bottom: 3px solid #d00000;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

header.banner-content img.uno-image {
  margin-right: 10px;
  width: 50px;
}

.banner-content .logo-container {
  margin-right: auto;
}

.banner-content h1 {
  margin: 0; 
  flex: 1;
  text-align: center;
  font-size: 24px;
}

.banner-content .uno-image {
  width: 50px;
  margin-left: 20px;
}

.login-container {
  max-width: 500px;
  max-height: 600px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.login-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
  color: #000;
  text-align: center;
}

.login-container form {
  width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.login-container form input,
.login-container form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-container form button {
  background-color: #d00000;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #a00000;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #d00000;
  text-decoration: none;
  font-size: 14px;
  max-width: 100%;
}

.forgot-password:hover {
  text-decoration: underline;
}

.logout-info {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

footer .footer-content {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-content img {
  width: 150px;
  margin-right: 10px;
}

footer .footer-content p {
  margin: 0;
  font-size: 14px;
}
