<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Course Scheduler</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/section_page.css' %}" />
</head>
<body>
    <header>
        <img src="{% static 'assets/images/uno-icon-color.png' %}" alt="University Logo" class="header-logo" />
        University Course Scheduler - Section Details
    </header>
    <div class="dashboard-layout">

        <!-- Sidebar with Day Buttons -->
        <aside class="sidebar">
            <h1>Section Information</h3>
            <h2>{{section.course.subject}} {{section.course.class_number}} - {{section.section_id}}</h2>
            <h3>{{section.course.name}}</h3>

            <p>
                Professor: {{section.professor}} </br>
                </br>
                Start time: {{section.start_time|date:"g:i a"}}</br>
                End time: {{section.end_time|date:"g:i a"}}</br>
                Days: {{ section.days.all |join:" / " }}</br>
                Location: {{section.room.building}} {{section.room.room_number}}</br>
                </br>
                Class Capacity: {{section.room.capacity}}</br>

            </p>
            
        </aside>
    
        <!-- Main Content -->
        <div class="container">
            <div class="same-time section">
                <h2>Courses at the same time</h2>
                <ul>
                    {% for other_section in other_section_list %}
                    <li>
                        <a href="/section/?subject={{section.course.subject}}&course_number={{section.course.class_number}}&section={{section.section_id}}" onclick="" >
                        {{section.course.subject}} {{section.course.class_number}} - {{section.course.name}} ({{ section.days.all |join:"/" }} {{section.start_time|date:"g:ia"}} - {{section.end_time|date:"g:ia"}})
                        </a>
                    </li>              
                    {% endfor %}  
                </ul>
            </div>

            <div class="same-semester section">
                <h2>Courses to take during the same semester</h2>
                <ul>
                    {% for course in same_semester %}
                    <li>
                        {{course.subject}} {{course.class_number}} - {{course.name}}
                    </li>              
                    {% endfor %} 
                </ul>
            </div>

            <div class="quick-actions section">
                <a href="/dashboard/" class="btn">Return to Schedule</a>
            </div>
        </div>
    </div>

</body>
</html>
