{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Course Scheduler</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/section_page.css' %}" />

    <!-- JavaScript -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      const uploadForm = document.getElementById('uploadForm');

      if (uploadForm) {
        uploadForm.addEventListener('submit', function (e) {
          e.preventDefault();

          document.getElementById('loadingOverlay').style.display = 'flex';

          const formData = new FormData(uploadForm);

          fetch('/section/', {
            method: 'POST',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              const statusDiv = document.getElementById('uploadStatus');
              if (data.error) {
                statusDiv.innerHTML = `<span style="color: red;">${data.error}</span>`;
              } else {
                statusDiv.innerHTML = `<span style="color: green;">Update Complete!</span>`;
              }
            })
            .finally(() => {
              document.getElementById('loadingOverlay').style.display = 'none';
            });
        });
      }
    })
  </script>
</head>
<body>
    <header>

        <div id="loadingOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5); z-index: 1000; align-items: center; justify-content: center;">
            {% comment %} <img src="{% static 'assets/images/loading.gif' %}" alt="Loading..." style="width: 100px;" /> {% endcomment %}
            <object type="image/svg+xml" data="{% static 'assets/images/uno_diagonal_fill.svg' %}" alt="Loading..."></object>
        </div>
        <img src="{% static 'assets/images/uno-icon-color.png' %}" alt="University Logo" class="header-logo" />
        University Course Scheduler - Section Details
    </header>
    <div class="dashboard-layout">

        <!-- Sidebar with Section Details -->
        <aside class="sidebar">
            <h2>{{section.course.subject}} {{section.course.class_number}} - {{section.section_number}}</h2>
            <h3>{{section.course.name}}</h3>

            <p>
                Professor: {{section.professor.name}} </br>
                </br>
                Start time: {{section.time_slot.start_time|date:"g:i a"}}</br>
                End time: {{section.time_slot.end_time|date:"g:i a"}}</br>
                Days: {{ section.time_slot.days.all |join:" / " }}</br>
                Location: {{section.room.building}} {{section.room.room_number}}</br>
                </br>
                Class Capacity: {{section.room.capacity}}</br>

            </p>
            
        </aside>
    
        <!-- Main Content -->
        <div class="container">
            <form>
            <div class="same-time section">
                <h2>Courses at the same time</h2>
                <ul>
                    {% for other_section in other_section_list %}
                    <li>
                        <a
                          href="/section/?subject={{other_section.course.subject}}&course_number={{other_section.course.class_number}}&section={{other_section.section_number}}"
                          onclick=""
                        >
                          {{other_section.course.subject}}{{other_section.course.class_number}}-{{other_section.section_number}}: 
                          {{other_section.course.name}} ({{ other_section.time_slot.days.all |join:"/"}} 
                          {{other_section.time_slot.start_time|date:"g:ia"}} -
                          {{other_section.time_slot.end_time|date:"g:ia"}}) 
                        </a>
                        - {{other_section.professor.name}}
                        <input type="checkbox" name="{{other_section.pk}}" value="True">
                    </li>             
                    {% endfor %}  
                </ul>
                <button type="submit" class="btn">Update Selection</button>
                <div id="uploadStatus"></div>
            </div>
            </form>
            {% if same_semester %}
            <div class="same-semester section">
                <h2>Courses to take during the same semester</h2>
                <ul>
                    {% for course in same_semester %}
                    <li>
                        {{course.subject}} {{course.class_number}} - {{course.name}}
                    </li>              
                    {% endfor %} 
                </ul>
            </div>
            {% endif %}

            <div class="quick-actions section">
                <a href="/dashboard/" class="btn">Return to Schedule</a>
            </div>
            
        </div>
    </div>

</body>
</html>
